* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    background: #fffaf5;
}

:root {
    --primary-color: #ff5b2e;
    --secondary-color: #000958;
    --sub-font: Sora, sans-serif;
}

/* ------------------------ Common ------------------------ */
.tab {
    position: relative;
    display: inline-flex;
    column-gap: 56px;
}

.tab__more::after,
.tab__item--active::after,
.tab::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    height: 2px;
    border-radius: 2px;
    background: var(--primary-color);
    opacity: 0.07;
}

.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 11px;
    padding-bottom: 10px;
    cursor: pointer;
}

.tab__item--active::after {
    width: 95px;
    opacity: 1;
}

.tab__icon {
    height: 20px;
}

.tab__title {
    color: #48496a;
    font-family: var(--sub-font);
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
}

.tab__content {
    display: none;
}

.tab__content:first-child {
    display: block;
}

.tab__desc {
    width: 391px;
    margin: 36px 0 32px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.715;
}

.tab__more {
    position: relative;
    padding-bottom: 5px;
    color: #ff5d31;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
}

.tab__more::after {
    height: 1.5px;
    background: #ff5d31;
    opacity: 1;
}

.section-title {
    color: #5e6085;
    font-family: var(--sub-font);
    font-weight: 600;
    font-size: 1.6rem;
}

.section-heading {
    color: var(--secondary-color);
    font-family: var(--sub-font);
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.192;
}

.section-desc {
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.875;
}

.btn__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 4px 3px 10px -1px #bf290066;
}

.btn {
    --height: 56px;

    display: inline-block;
    min-width: 214px;
    height: var(--height);
    border: 1px solid rgb(255 91 46 / 60%);
    border-radius: 999px;
    color: var(--primary-color);
    font-weight: 500;
    line-height: var(--height);
    text-align: center;
    transition: color 0.25s ease, background-color 0.25s ease;
}

.btn:hover {
    color: #fff;
    border-color: var(--primary-color);
    background: var(--primary-color);
}

.btn__primary {
    color: #fff !important;
    background: var(--primary-color) !important;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--sub-font);
}

/* ------------------------ Header ------------------------ */
.navbar__link:hover {
    color: var(--secondary-color);
    text-shadow: 1px 0 0 currentColor;
}

.header__signin,
.navbar__link {
    padding: 8px 18px;
    color: #5e6085;
    font-weight: 500;
    font-size: 1.4rem;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;
}

.header__signup {
    --height: 50px;

    min-width: 117px;
    border-color: rgb(0, 9, 88, 0.7);
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 600;
}

.header__signup:hover {
    color: #fff;
    border-color: var(--secondary-color);
    background: var(--secondary-color);
}

/* ------------------------ Hero ------------------------ */
.hero {
    margin-top: 76px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 120px;
}

.hero__media {
    position: relative;
    display: flex;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    width: 388px;
    height: 488px;
    border: 3px solid #fff;
    border-radius: 16px;
    background: #fe997b;
}

.hero__img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
}

.hero__decor {
    position: absolute;
    z-index: -1;
    object-fit: cover;
}

.hero__decor--left {
    bottom: 0;
    left: -58px;
}

.hero__decor--right {
    top: 17px;
    right: -43px;
}

.hero__img-wrap--small {
    position: relative;
    align-self: flex-end;
    width: 186px;
    height: 244px;
    margin: 0 0 -58px -24px;
    border: 2px solid #ffffffa6;
    border-radius: 16px;
    background: #faa7ad;
    z-index: 1;
    overflow: hidden;
}

.hero__img-small {
    position: absolute;
    left: 0;
    top: 24px;
    object-fit: contain;
}

.hero-list {
    position: absolute;
    left: 129px;
    bottom: 0;
    z-index: 1;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px #cfae8440;
}

.hero-list__item {
    display: flex;
    align-items: center;
}

.hero-list__item-thumb {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 10px;
    background: #fec23f;
}

.hero-list__item-thumb--dowm {
    background: #c6e2fa;
}

.hero-list__item-thumb--img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.hero-list__item-title {
    color: #181e52;
    font-family: var(--sub-font);
    font-weight: 600;
    font-size: 1.4rem;
}

.hero-list__item-skeleton {
    margin-top: 7px;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    background: var(--secondary-color);
    opacity: 0.08;
}

.hero-list__item-skeleton:nth-of-type(2) {
    width: 39px;
}

.hero-list__item-separate {
    height: 2px;
    margin: 19px 0;
    border-radius: 99px;
    background: #f2f2f2;
}

.hero__heading {
    color: var(--secondary-color);
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.15;
}

.hero__desc {
    width: 391px;
    padding: 24px 0 38px;
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.875;
}

.hero__cta {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.hero__button {
    --height: 60px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    min-width: 189px;
    font-weight: 600;
    box-shadow: 0px 13px 26px -8px #ff5b2e6b;
}

.hero__link {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 1.6rem;
    text-decoration: underline;
}

/* ------------------------ About ------------------------ */
.about {
    padding: 53px 0;
    margin-top: 77px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 146px;
    align-items: center;
}

.about__heading,
.about__desc {
    width: 444px;
}

.about__heading {
    margin: 15px 0 24px;
}

.about__check-list {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 34px 36px;
    margin-top: 54px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #48496a;
    font-weight: 500;
    font-size: 1.8rem;
}

.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: #ff5d31;
}

.about__check-item:first-child:before {
    box-shadow: 0px 4px 15px -3px #ff5d31b0;
}

.about__check-item::after {
    content: url(../img/about/tick.svg);
    position: absolute;
    left: 5px;
    top: 1.5px;
}

.about__media {
    position: relative;
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    z-index: 1;
    width: 136px;
    padding: 30px 26px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px #55f0ff2b;
    text-align: center;
}

.about__card::before {
    content: url(../img/about/dog-leg.svg);
    position: absolute;
    top: -37px;
    right: -32px;
}

.about__card-data {
    color: #fff;
    font-family: var(--sub-font);
    font-weight: 700;
    font-size: 4.2rem;
}

.about__card-desc {
    margin-top: 14px;
    color: #c6f4f9;
    font-size: 1.4rem;
    line-height: 1.429;
}

.about__img-wrapper {
    position: relative;
    width: 494px;
    padding-top: 8px;
    margin-left: auto;
}

.about__img-wrapper::after {
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    z-index: -1;
    display: block;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.about__img {
    display: block;
    width: 450px;
    margin: 0 auto;
}

.about__decor {
    position: absolute;
    top: 157px;
    right: -51px;
    z-index: -1;
}

.about__img-wrapper--bottom {
    width: 458px;
    padding-top: 0;
    margin-left: 0;
    border: 2px solid #ffffff;
    border-radius: 18px;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px #bea58b2b;
}

.about__img--bottom {
    width: 100%;
}

.about__decor-img {
    position: absolute;
}

.about__decor-img:nth-child(1) {
    top: 13px;
    right: 63px;
}

.about__decor-img:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__decor-img:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__decor-img:nth-child(4) {
    top: 268px;
    right: -33px;
}

.about__decor-img:nth-child(5) {
    top: 336px;
    right: 19px;
}

.about__decor-img:nth-child(6) {
    bottom: -39px;
    right: -23px;
}

.about__decor-img:nth-child(7) {
    bottom: -47px;
    right: -33px;
}

.about__decor-img:nth-child(8) {
    bottom: -55px;
    right: -42px;
}

.about__desc-bottom {
    width: 511px;
    margin: 24px 0 52px;
}

/* ------------------------ Service ------------------------ */
.service {
    padding: 68px 0 100px;
    margin-top: 130px;
    background: #fff6ed;
}

.service__top {
    text-align: center;
}

.service__desc {
    color: #5e6085;
    font-family: var(--sub-font);
    font-weight: 600;
    font-size: 1.6rem;
}

.service__heading {
    margin-top: 15px;
}

.service__body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 71px;
    margin-top: 71px;
}

.service__column {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.service-item {
    width: 294px;
    padding: 28px;
    border: 2px solid #ffbc7a42;
    border-radius: 10px;
    background: #fff;
}

.service-item__heading {
    position: relative;
    padding-left: 12px;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 2.2rem;
}

.service-item__heading::before {
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    width: 2px;
    height: 22px;
    border-radius: 1px;
    background: linear-gradient(180deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.service-item__desc {
    margin: 18px 0 24px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.7;
}

.service-item__more {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #34396a;
    font-family: var(--sub-font);
    font-size: 1.2rem;
}

.service__media {
    margin-top: 18px;
    text-align: center;
}

.service__img-wrapper {
    position: relative;
}

.service__img-wrapper::after {
    content: "";
    position: absolute;
    left: 18px;
    right: 18px;
    bottom: 0;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service__img {
    position: relative;
    z-index: 1;
    width: 100%;
    vertical-align: bottom;
}

.service__cta {
    margin-top: 45px;
    font-weight: 500;
}

/* ------------------------ Staff ------------------------ */
.staff {
    padding: 130px 0;
}

.staff__top {
    text-align: center;
}

.staff__desc {
    color: #5e6085;
    font-family: var(--sub-font);
    font-weight: 600;
    font-size: 1.6rem;
}

.staff__heading {
    margin-top: 15px;
}

.staff__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    margin-top: 59px;
}

.staff-item {
    text-align: center;
}

.staff-item__img-wrapper {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}

.staff-item__img-wrapper::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 33px);
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.staff-item__img-wrapper--first::before {
    background-image: url(../img/staff/staff-decor-01.svg);
}

.staff-item__img-wrapper--second::before {
    background-image: url(../img/staff/staff-decor-02.svg);
}

.staff-item__img-wrapper--third::before {
    background-image: url(../img/staff/staff-decor-03.svg);
}

.staff-item__img-wrapper--fourth::before {
    background-image: url(../img/staff/staff-decor-04.svg);
}

.staff-item__img-wrapper--fourth::before,
.staff-item__img-wrapper--second::before {
    background-position: 0 19px;
}

.staff-item__img-wrapper::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    height: 93%;
    border-radius: inherit;
    background: var(
        --bg-color,
        linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%)
    );
}

.staff-item__img-wrapper--second::after {
    --bg-color: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff-item__img-wrapper--third::after {
    --bg-color: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff-item__img-wrapper--fourth::after {
    --bg-color: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff-item__img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    border-radius: inherit;
}

.staff-item__title {
    margin: 34px 0 14px;
    color: #656689;
    font-size: 1.4rem;
}

.staff-item__name {
    color: var(--secondary-color);
    font-family: var(--sub-font);
    font-weight: 600;
    font-size: 2.2rem;
}

.staff__cta-wrapper {
    text-align: center;
}

.staff__cta {
    min-width: 193px;
    margin: 48px auto 0;
}

/* ------------------------ Purchase ------------------------ */
.purchase {
    padding: 86px 0;
    background: #fff6ed;
}

.purchase__top {
    text-align: center;
}

.purchase__desc {
    width: 709px;
    margin: 24px auto 0;
}

.purchase__switch-wrap {
    margin-top: 38px;
}

.purchase__switch-label {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 276px;
    height: 56px;
    padding: 0 40px;
    border: 1px solid rgb(255 91 46 / 60%);
    border-radius: 999px;
}

.purchase__switch-label::before {
    content: "";
    position: absolute;
    right: -1px;
    top: -1px;
    bottom: -1px;
    display: inline-block;
    width: 131px;
    border-radius: inherit;
    background: var(--primary-color);
}

.purchase__switch:checked + .purchase__switch-label::before {
    left: -1px;
    width: 145px;
}

.purchase__switch-content {
    position: relative;
    z-index: 1;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.6rem;
    user-select: none;
}

.purchase__switch:not(:checked)
    + .purchase__switch-label
    .purchase__switch-content--right,
.purchase__switch:checked
    + .purchase__switch-label
    .purchase__switch-content--left {
    color: #fff;
}

.purchase__switch-save {
    position: absolute;
    bottom: 29px;
    right: -111px;
    user-select: none;
    pointer-events: none;
}

.purchase__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 44px;
    width: 994px;
    margin: 56px auto 0;
}

.purchase-item {
    padding: 30px 28px;
    border-radius: 20px;
    background: #fff;
}

.purchase-item--active {
    box-shadow: 0px 20px 44px 0px #c36c160f;
}

.purchase-item__package {
    color: var(--primary-color);
    font-size: 1.2rem;
}

.purchase-item__heading {
    margin-top: 8px;
    color: #3f4065;
    font-family: var(--sub-font);
    font-size: 1.8rem;
    font-weight: 600;
}

.purchase-item__price {
    margin-top: 24px;
    color: var(--secondary-color);
    font-family: var(--sub-font);
    font-size: 3.4rem;
    font-weight: 700;
}

.purchase-item__btn {
    --height: 44px;

    width: 100%;
    margin-top: 22px;
    background: transparent;
    cursor: pointer;
}

.purchase-item__btn:hover {
    color: var(--primary-color);
    background: transparent;
}

.purchase-item__list {
    margin-top: 24px;
}

.purchase-item__item {
    display: flex;
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
}

.purchase-item__item::before {
    content: url(../img/purchase/purchase-check.svg);
    margin-right: 14px;
}

.purchase-item:is(:nth-child(1), :nth-child(2))
    .purchase-item__item:is(
        :nth-child(5),
        :nth-child(6),
        :nth-child(7)
    )::before {
    opacity: 0.4;
}

/* ------------------------ Review ------------------------ */
.review {
    margin-top: 53px;
}

.review__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 44px;
}

.review__control {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 54px;
    height: 54px;
    border: 1.5px solid #ffd1c4;
    border-radius: 50%;
    color: var(--primary-color);
    background: transparent;
    cursor: pointer;
}

.review__control:hover {
    color: #fff;
    border-color: var(--primary-color);
    background: var(--primary-color);
    box-shadow: 0px 5px 27px 0px #ff5b2e4d;
}

.review__list {
    overflow: hidden;
}

.review__list-content {
    display: flex;
    column-gap: 44px;
}

.review-item {
    display: flex;
    column-gap: 115px;
}

.review-item__thumb {
    position: relative;
    flex-shrink: 0;
    width: 274px;
}

.review-item__thumb::before {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 350px;
    border-radius: 137px;
    background: #ffda54;
}

.review-item__img {
    position: relative;
    z-index: 1;
    vertical-align: bottom;
    width: 100%;
    border-radius: 137px;
}

.review-item__content {
    margin-top: 113px;
}

.review-item__guest {
    width: 553px;
    margin-top: 24px;
    color: #000;
    font-size: 1.8rem;
    line-height: 1.56;
}

.review-item__author {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-top: 34px;
    color: #282828;
    font-family: var(--sub-font);
    font-weight: 600;
    font-size: 1.8rem;
}

.review-item__author::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 1px;
    background: #000;
}

.review__dots {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-top: 56px;
}

.review__dot {
    width: 8px;
    height: 8px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
}

.review__dot--active {
    width: 24px;
    height: 8px;
    border-radius: 999px;
    background: var(--primary-color);
}

/* ------------------------ Blog ------------------------ */
.blog {
    margin-top: 130px;
}

.blog__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__desc {
    width: 350px;
    margin-right: 73px;
}

.blog__btn {
    margin-top: 24px;
}

.blog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
    margin-top: 54px;
}

.blog-item__media {
    width: 358px;
    padding: 24px 0 0 36px;
    border-radius: 24px;
    background: #90ccff;
}

.blog-item:nth-child(2) .blog-item__media {
    background: #ff997e;
}

.blog-item:nth-child(3) .blog-item__media {
    background: #5bd6e2;
}

.blog-item__time {
    color: #fff;
    font-family: var(--sub-font);
    font-size: 1.4rem;
    line-height: 1.21;
}

.blog-item__img {
    display: block;
    width: 100%;
    height: 296px;
    margin-top: 25px;
    object-fit: cover;
}

.blog-item__info {
    padding-right: 14px;
    margin-top: 28px;
}

.blog-item__heading {
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.55;
}

.blog-item__desc {
    margin-top: 16px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71;
}

/* ------------------------ Footer ------------------------ */
.footer {
    margin-top: 131px;
    background: #fff6ed;
}

.footer__left {
    padding: 114px 0 148px;
}

.search-form {
    display: flex;
    align-items: center;
    width: 268px;
    height: 46px;
    margin-top: 35px;
    border: 1px solid #ff5b2e40;
    border-radius: 999px;
    background: rgb(255 255 255 / 60%);;
}

.search-form__input {
    width: 100%;
    height: inherit;
    padding: 0 16px;
    border: none;
    border-radius: inherit;
    outline: none;
    background: transparent;
}

.search-form__input::placeholder {
    color: #656689;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.17;
    opacity: 0.8;
}

.search-form__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 46px;
    height: 46px;
    margin-right: -1px;
    border: none;
    border-radius: 50%;
    outline: none;
    background: #ff5b2e;
    cursor: pointer;
    box-shadow: 0px 15px 28px -7px #ff5b2e4d;
}

.social {
    margin-top: 68px;
}

.social-title {
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.11;
}

.social-list {
    display: flex;
    column-gap: 16px;
    margin-top: 16px;
}

.social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 16px 28px -10px #d3843554;
}

.social-item:hover {
    opacity: 0.8;
}
