* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

:root {
    --primary-color: #FF5B2E
}

/* ------------------------ Common ------------------------ */
.btn {
    --height: 56px;

    display: inline-block;
    min-width: 214px;
    height: var(--height);
    border: 1px solid var(--primary-color);
    border-radius: 999px;
    color: var(--primary-color);
    line-height: var(--height);
    text-align: center;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

/* ------------------------ Header ------------------------ */
.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.header__signin,
.navbar__link {
    padding: 8px 18px;
    color: #5E6085;
    font-weight: 500;
    font-size: 1.4rem;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;
}

.header__signup {
    --height: 50px;

    min-width: 117px;
    border-color: rgb(0, 9, 88, 0.7);
    color: #000958;
}

.header__signup:hover {
    color: #fff;
    background: #000958;
}