* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    background: #fffaf5;
}

:root {
    --primary-color: #ff5b2e;
    --secondary-color: #000958;
}

/* ------------------------ Common ------------------------ */
.tab {
    position: relative;
    display: inline-flex;
    column-gap: 56px;
}

.tab__more::after,
.tab__item--active::after,
.tab::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    height: 2px;
    border-radius: 2px;
    background: var(--primary-color);
    opacity: 0.07;
}

.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 11px;
    padding-bottom: 10px;
    cursor: pointer;
}

.tab__item--active::after {
    width: 95px;
    opacity: 1;
}

.tab__icon {
    height: 20px;
}

.tab__title {
    color: #48496a;
    font-family: Sora, sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
}

.tab__content {
    display: none;
}

.tab__content:first-child {
    display: block;
}

.tab__desc {
    width: 391px;
    margin: 36px 0 32px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.715;
}

.tab__more {
    position: relative;
    padding-bottom: 5px;
    color: #ff5d31;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
}

.tab__more::after {
    height: 1.5px;
    background: #ff5d31;
    opacity: 1;
}

.section-title {
    color: #5e6085;
    font-family: Sora;
    font-weight: 600;
    font-size: 1.6rem;
}

.section-heading {
    color: var(--secondary-color);
    font-family: Sora;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.192;
}

.section-desc {
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.875;
}

.btn__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 4px 3px 10px -1px #bf290066;
}

.btn {
    --height: 56px;

    display: inline-block;
    min-width: 214px;
    height: var(--height);
    border: 1px solid var(--primary-color);
    border-radius: 999px;
    color: var(--primary-color);
    line-height: var(--height);
    text-align: center;
}

.btn__primary {
    color: #fff;
    background: var(--primary-color);
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

/* ------------------------ Header ------------------------ */
.navbar__link:hover {
    color: var(--secondary-color);
    text-shadow: 1px 0 0 currentColor;
}

.header__signin,
.navbar__link {
    padding: 8px 18px;
    color: #5e6085;
    font-weight: 500;
    font-size: 1.4rem;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;
}

.header__signup {
    --height: 50px;

    min-width: 117px;
    border-color: rgb(0, 9, 88, 0.7);
    color: var(--secondary-color);
}

.header__signup:hover {
    color: #fff;
    background: var(--secondary-color);
}

/* ------------------------ Hero ------------------------ */
.hero {
    margin-top: 76px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 120px;
}

.hero__media {
    position: relative;
    display: flex;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    width: 388px;
    height: 488px;
    border: 3px solid #fff;
    border-radius: 16px;
    background: #fe997b;
}

.hero__img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
}

.hero__decor {
    position: absolute;
    z-index: -1;
    object-fit: cover;
}

.hero__decor--left {
    bottom: 0;
    left: -58px;
}

.hero__decor--right {
    top: 17px;
    right: -43px;
}

.hero__img-wrap--small {
    position: relative;
    align-self: flex-end;
    width: 186px;
    height: 244px;
    margin: 0 0 -58px -24px;
    border: 2px solid #ffffffa6;
    border-radius: 16px;
    background: #faa7ad;
    z-index: 1;
    overflow: hidden;
}

.hero__img-small {
    position: absolute;
    left: 0;
    top: 24px;
    object-fit: contain;
}

.hero-list {
    position: absolute;
    left: 129px;
    bottom: 0;
    z-index: 1;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px #cfae8440;
}

.hero-list__item {
    display: flex;
    align-items: center;
}

.hero-list__item-thumb {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 10px;
    background: #fec23f;
}

.hero-list__item-thumb--dowm {
    background: #c6e2fa;
}

.hero-list__item-thumb--img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.hero-list__item-title {
    color: #181e52;
    font-family: Sora;
    font-weight: 600;
    font-size: 1.4rem;
}

.hero-list__item-skeleton {
    margin-top: 7px;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    background: var(--secondary-color);
    opacity: 0.08;
}

.hero-list__item-skeleton:nth-of-type(2) {
    width: 39px;
}

.hero-list__item-separate {
    height: 2px;
    margin: 19px 0;
    border-radius: 99px;
    background: #f2f2f2;
}

.hero__heading {
    color: var(--secondary-color);
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.15;
}

.hero__desc {
    width: 391px;
    padding: 24px 0 38px;
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.875;
}

.hero__cta {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.hero__button {
    --height: 60px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    min-width: 189px;
    font-weight: 600;
    box-shadow: 0px 13px 26px -8px #ff5b2e6b;
}

.hero__link {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 1.6rem;
    text-decoration: underline;
}

/* ------------------------ About ------------------------ */
.about {
    padding: 53px 0;
    margin-top: 77px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 146px;
    align-items: center;
}

.about__heading,
.about__desc {
    width: 444px;
}

.about__heading {
    margin: 15px 0 24px;
}

.about__check-list {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 34px 36px;
    margin-top: 54px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #48496a;
    font-weight: 500;
    font-size: 1.8rem;
}

.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: #ff5d31;
}

.about__check-item:first-child:before {
    box-shadow: 0px 4px 15px -3px #ff5d31b0;
}

.about__check-item::after {
    content: url(../img/about/tick.svg);
    position: absolute;
    left: 5px;
    top: 1.5px;
}

.about__media {
    position: relative;
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    z-index: 1;
    width: 136px;
    padding: 30px 26px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px #55f0ff2b;
    text-align: center;
}

.about__card::before {
    content: url(../img/about/dog-leg.svg);
    position: absolute;
    top: -37px;
    right: -32px;
}

.about__card-data {
    color: #fff;
    font-family: Sora;
    font-weight: 700;
    font-size: 4.2rem;
}

.about__card-desc {
    margin-top: 14px;
    color: #c6f4f9;
    font-size: 1.4rem;
    line-height: 1.429;
}

.about__img-wrapper {
    position: relative;
    width: 494px;
    padding-top: 8px;
    margin-left: auto;
}

.about__img-wrapper::after {
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    z-index: -1;
    display: block;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.about__img {
    display: block;
    width: 450px;
    margin: 0 auto;
}

.about__decor {
    position: absolute;
    top: 157px;
    right: -51px;
    z-index: -1;
}

.about__img-wrapper--bottom {
    width: 458px;
    padding-top: 0;
    margin-left: 0;
    border: 2px solid #ffffff;
    border-radius: 18px;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px #bea58b2b;
}

.about__img--bottom {
    width: 100%;
}

.about__decor-img {
    position: absolute;
}

.about__decor-img:nth-child(1) {
    top: 13px;
    right: 63px;
}

.about__decor-img:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__decor-img:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__decor-img:nth-child(4) {
    top: 268px;
    right: -33px;
}

.about__decor-img:nth-child(5) {
    top: 336px;
    right: 19px;
}

.about__decor-img:nth-child(6) {
    bottom: -39px;
    right: -23px;
}

.about__decor-img:nth-child(7) {
    bottom: -47px;
    right: -33px;
}

.about__decor-img:nth-child(8) {
    bottom: -55px;
    right: -42px;
}

.about__desc-bottom {
    width: 511px;
    margin: 24px 0 52px;
}
